Flask==2.2.3
Flask-Session==0.4.0
Flask-Cors==3.0.10
numpy==1.23.5
nltk==3.8.1
redis==4.5.1
openai==0.27.9
transformers==4.33.0
torch==2.0.1
langchain==0.0.203
networkx==3.0
matplotlib==3.7.2
soundfile==0.12.1
faiss-cpu==1.7.4
chromadb==0.3.26
