<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>User Ranking</title>
</head>
<body>
    <div class="container">
        <h1>User Ranking</h1>
        <ul>
            {% for rank, username, likelihood in rankings %}
                <li>Rank {{ rank }}: {{ username }} with a total score of {{ score }} out of 108.</li>
            {% endfor %}
        </ul>
        <a href="/">Go Back</a>
    </div>
</body>
</html>
